<!DOCTYPE html>
<html>

<head>
	<title>Login Register App</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<link rel="stylesheet" href="../styles/styles.css">
	<script type="text/javascript">
		$(document).ready(() => {
			$("#form").submit((event) => {
				event.preventDefault();
				$.ajax({
					type: 'POST',
					url: '/login',
					data: $('#form').serialize(),
					dataType: "json",
					success: (response) => {
						$('#form')[0].reset();
						document.getElementById("check").innerHTML = response.Success;
						//ADD THIS CODE
						setTimeout(() => {
							document.getElementById("check").innerHTML = "";
						}, 3000);
						if (response.Success == "Success!") {
							document.getElementById("aa").click();
						};
					},
					error: () => {}
				})
			});
		});
	</script>
</head>
<body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0" style="font-family:'Lato',sans-serif;">
	<!-- <div class="col-md-4 col-md-offset-4 form-card">
		<div>
			<p>Login</p>
		</div>
		<div class="form-group ">
			<form id="form" method="post">
				<input type="text" name="email" pattern="[-!#$%&'*+\/0-9=?ก-๙A-Z^_a-z`{|}~](\.?[-!#$%&'*+\/0-9=?ก-๙A-Z^_a-z`{|}~])*@[ก-๙a-zA-Z0-9](-*\.?[ก-๙a-zA-Z0-9])*\.[ก-๙a-zA-Z](-?[ก-๙a-zA-Z0-9])+$" placeholder="E-mail" required="" class="form-control"><br />
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br />
				<input type="submit" value="Login" class="btn btn-success">
			</form>
		</div>
		<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div id="LangTable"><a href="/posts" id="aa"></a>
		</div>
		<div><span>Do you forgot password? </span><a href="/forgetpass">click here</a>
		</div>
		<div id="LangTable"><span>Do you want to register a new Account? </span><a href="/">click here</a>
		</div>
	</div> -->
	<header class="max-w-lg mx-auto">
		<a href="#">
			<h1 class="text-4xl font-bold text-white text-center">Startup</h1>
		</a>
	</header>
	<div class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">

		<section>
			<h1 class="text-gray-600 pt-2 text-xl text-center">Login</h1>
		</section>
		<div class="form-group mt-7 ">
			<form id="form" method="post">
				<div class="flex flex-col pt-4">
					<label for="email" class="text-lg">Email</label>
					<input type="text" name="email"
						pattern="[-!#$%&'*+\/0-9=?ก-๙A-Z^_a-z`{|}~](\.?[-!#$%&'*+\/0-9=?ก-๙A-Z^_a-z`{|}~])*@[ก-๙a-zA-Z0-9](-*\.?[ก-๙a-zA-Z0-9])*\.[ก-๙a-zA-Z](-?[ก-๙a-zA-Z0-9])+$"
						placeholder="E-mail" required=""
						class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline form-control">
				</div>
				<div class="flex flex-col pt-4">
					<label for="password" class="text-lg">Password</label>
					<input type="password" name="password" placeholder="Password" required=""
						class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline form-control">
				</div>
				<input type="submit" value="Login"
					class="bg-black text-white w-full  font-bold  rounded text-lg hover:bg-gray-700 p-2 mt-8">
			</form>
		</div>
		<div class="mssg bg-danger mt-4">
			<span id="check"></span>
		</div>
		<div id="LangTable"><a href="/posts" id="aa"></a>
		</div>
		<div><span>Bạn quên mật khẩu? </span><a href="/forgetpass">click here</a>
		</div>
		<div id="LangTable"><span>Bạn có muốn đăng ký một tài khoản mới? </span><a href="/register">click here</a>
		</div>
	</div>
</body>

</html>